html, body {
    height: 100%;
    margin: 0;
    color: black;
    overflow: hidden;
}

.app-container {
    min-height: 100vh; /* Đảm bảo toàn bộ trang chiếm đủ chiều cao */
    display: flex;
}

.main-content {
    margin-left: 250px;
    flex: 1; /* Phần còn lại của màn hình sau khi trừ sidebar */
    overflow-y: auto;
}

/* Toàn bộ trang */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.main-content,
.side-bar,
.partner-bar,
.new-navbar {
    background: transparent;
}