html, body {
    height: 100%;
    margin: 0;
    background-color: white; /* Đảm bảo nền toàn trang là màu đen */
    color: white;
    overflow: hidden;
}

.app-container {
    margin-left: 250px;
    min-height: 100vh; /* Đảm bảo toàn bộ trang chiếm đủ chiều cao */
    background-color: white;
    display: flex;
}

.main-content {
    flex: 1; /* Phần còn lại của màn hình sau khi trừ sidebar */
    overflow-y: auto;
}