.post-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    background-color: white;
}

.post-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.post-form label {
    margin: 10px 0 5px;
    font-weight: bold;
    color: black; /* Nhãn màu trắng */
}

.post-form textarea {
    padding: 10px;
    resize: vertical;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
    background-color: white;
    color: black;
}

.post-form input[type="file"] {
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
}

.post-form select {
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
}

.post-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #1e1e1e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.post-form button:hover {
    background-color: #005fa3;
}

.custom-file-button {
    display: inline-block;
    padding: 10px 16px;
    background-color: white;
    color: #ccc;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
    border:1px #ccc solid;
}
