.trending-page {
    text-align: center;
    padding: 20px;
    color: white;
}

.trending-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
}

.trending-tag {
    background: white;
    color: gray;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

.trending-tag.active {
    background-color: #f2f4f7;
    color: black;
    border-color: black;
}


    .button-group {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
        justify-content: center;
        top: 0;
    }

    .button-group button {
        padding: 10px 16px;
        border: none;
        background-color: white;
        color: gray;
        cursor: pointer;
        font-weight: 500;

    }

.button-group button.active {
    color: black; /* chữ trắng đậm */
    opacity: 1;
    border-bottom: 1px solid black;
}


